h2 Resultado

h4
  span Se han encontrado
  strong &nbsp;{{maestro.compras.length}}&nbsp;
  span compras y
  strong &nbsp;{{maestro.ventas.length}}&nbsp;
  span ventas.

form.form-inline
  .form-group
    label.sr-only(for="contribuyente") Nombre del contribuyente
    input.form-control(id="contribuyente", ng-model="contribuyente.nombre", placeholder="Nombre del contribuyente")

  button.btn.btn-primary(type="submit", ng-click="descargarArchivos()") Descargar archivos
